@font-face {
  font-family: monsterrat-normal;
  src: url(fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: fraunces-large;
  src: url(fonts/Fraunces/static/Fraunces_144pt/Fraunces_144pt-Bold.ttf);
}

:root {
  /*Theme Colours*/
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-greyish-blue: hsl(228, 12%, 48%);
  --padding-value-default: 8%;
  --padding-value-desktop: 10%;
  --corner-radius-value: 3%;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: var(--cream);
  margin: 0;
  padding: 0;
  display: flex;
}

.category {
  grid-area: header;
  font-family: monsterrat-normal;
  color: var(--dark-greyish-blue);
  font-size: 1.7vh;
  letter-spacing: 0.7ch;
  padding-left: var(--padding-value-default);
}

.name {
  display: flex;
  grid-area: title;
  font-family: fraunces-large;
  color: var(--very-dark-blue);
  font-size: 5vh;
  line-height: 1.5ch;
  text-align: left;
  margin-right: var(--padding-value-default);
  padding-left: var(--padding-value-default);
}

.description {
  grid-area: info-text;
  font-family: monsterrat-normal;
  color: var(--dark-greyish-blue);
  line-height: 1.5;
  padding-right: var(--padding-value-default);
  font-size: 2.2vh;
  padding-left: var(--padding-value-default);
}

.price {
  grid-area: footer;
  font-family: fraunces-large;
  color: var(--dark-cyan);
  font-size: 5vh;
  padding-left: var(--padding-value-default);
}

.price::after {
  content: "$169.99";
  font-family: monsterrat-normal;
  color: var(--dark-greyish-blue);
  text-decoration: line-through;
  font-size: 1.4vh;
  position: relative;
  vertical-align: middle;
  left: 5%;
}

.button {
  grid-area: buy-button;
  display: grid;
  background-color: var(--dark-cyan);
  border-radius: 5px;
  height: 5.5ch;
  margin: var(--padding-value-default);
  margin-top: -(var(--padding-value-default));
}

.button:hover {
  background-color: var(--very-dark-blue);
}

.button-text {
  display: flex;
  font-family: monsterrat-normal;
  color: white;
  font-size: 2vh;
  justify-self: center;
  align-self: center;
  white-space: nowrap;
}

.button-text::before {
  content: "";
  background: url(./images/icon-cart.svg) no-repeat;
  background-size: contain;
  position: relative;
  width: 1.5ch;
  right: 10%;
}

.image {
  display: flex;
  border-top-left-radius: var(--corner-radius-value);
  border-top-right-radius: var(--corner-radius-value);
  background-image: url(/images/image-product-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40%;
}

.card {
  background-color: white;
  border-radius: 3%;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

/*For desktop screens*/
@media only screen and (min-width: 500px) {
  .card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "image header"
      "image title"
      "image info-text"
      "image footer"
      "image buy-button";
    justify-items: stretch;
    align-items: stretch;
    column-gap: 2%;
    padding-right: 1%;
    top: 25%;
    left: 25%;
    height: 50vh;
    width: 60vh;
  }

  .image {
    grid-area: image;
    border-bottom-left-radius: var(--corner-radius-value);
    border-top-right-radius: 0%;
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    height: 100%;
  }

  .category {
    font-size: 1.2vh;
    letter-spacing: 1ch;
    padding-top: var(--padding-value-desktop);
  }

  .name {
    font-size: 4.5vh;
    margin-right: 5%;
  }

  .description {
    padding-right: var(--padding-value-desktop);
    font-size: 1.6vh;
  }

  .price {
    font-size: 3.8vh;
  }

  .price::after {
    left: 10%;
  }

  .button {
    border-radius: 0.5vw;
    margin: var(--padding-value-default);
    height: 70%;
    margin-top: 0;
  }

  .button-text {
    font-size: 1.7vh;
  }
}
